*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1F28;
    font-family: 'KoHo', sans-serif;
    color: #E5ECE9;
    font-size: 23px;
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: #1D1F28;
        font-family: 'KoHo', sans-serif;
        color: #E5ECE9;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #1D1F28;
        font-family: 'KoHo', sans-serif;
        color: #E5ECE9;
        font-size: 15px;
    }
}

:root {
    --font-color: rgb(229, 236, 233);
    --lily: #787ECF;
    --info-gray: #5B5B5B;
    --background-color: #1D1F28;
    --bar-width: 60px;
    --bar-height: 8px;
}

.top-molding {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 2vw;
}

.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .rectangle {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none;
    }
    .logo {
        margin: 5vw;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 150px;
        margin: 8vw;
    }
    .page-title {
        font-size: 30px;
    }
    .information {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 140px;
        margin: 5vw;
    }
    .page-title {
        font-size: 28px;
    }
    .information {
        font-size: 18px;
    }
    .rectangle {
        width: 20px;
    }
}

@media only screen and (max-height: 700px)
{
    .logo {
        width: 90px;
        margin: 5vw;
    }
    .page-title {
        font-size: 23px;
    }
    .information {
        font-size: 15px;
    }
    .rectangle {
        width: 30px;
    }
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin-right: 3vw;
    align-items: center;
}


.content {
    display: flex;
    justify-content: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}

@media only screen and (max-width: 800px) {
    .welcome {
        width: 80vw;
        margin-top: 5vh;
    }
}

.page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.information {
    margin-bottom: 30px;
}

.find-out-button {
    margin: 20px;
    padding: 15px 70px;
    border-radius: 20px;
    color: var(--font-color);
    background-color: var(--lily);
    text-decoration: none;
    text-align: center;
    border: none;
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.find-out-button:hover {
    background-color: #5258A9;
}

@media only screen and (max-width: 800px) {
    .find-out-button {
        padding: 10px 50px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .find-out-button {
        padding: 15px 60px;
        font-size: 25px;
    }
}

.info-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 300px;
}

@media only screen and (max-width: 800px) {
    .form-parent {
        display: flex;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 600px) {
 .form-parent {
        margin-left: 0;
        text-align: center;
    }
    .row form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    }
    .container span {
        font-size: 18px;
    }
}

.info-icon {
    height: 15px;
}

.info-text {
    font-size: 15px;
    color: var(--info-gray);
    margin-left: 3px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*@media only screen and (max-width: 1200px) {*/
/*    .row {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*        margin-top: 200px;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 600px) {*/

/*    .row {*/
/*        margin-top: 100px;*/
/*    }*/
/*}*/


.notice {
    width: 70vw;
    margin: 350px 0 30px 0;
    text-align: center;
}

.textInput {
    border: 2px solid transparent;
    width: 16em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: 15px;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
}

.textInput:hover,
.textInput:focus {
  border: 2px solid var(--lily);
  box-shadow: 0 0 0 7px rgba(82, 88, 169, 0.2);
  background-color: rgb(173, 179, 243);
}

.textInput::placeholder {
    font-family: 'KoHo', sans-serif;
}

.container {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: 40px;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: rgb(187, 187, 201);
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.toggle input:checked + label::before {
    transform: translateX(26px);
}

.toggle input:checked + label {
    background-color: var(--lily);
}

.info-container {
    margin-top: 10px;
}

/*    RADIO BUTTONS DESIGN    */

.diabetes {
    display: flex;
    flex-direction: column;
}

.diabetes .text {
    margin-top: 10px;
}

.radio-buttons {
    margin-top: 10px;
    font-size: 18px;
}

.radio-buttons label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.radio-buttons input {
  -webkit-appearance: none;
 /* remove default */
  display: flex;
    flex-direction: column;
  margin: 15px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsl(0, 0%, 100%) 0 1px 1px, inset hsl(0, 0%, 100%) 0 0 0 1px;
  background-color: hsl(0, 0%, 100%);
  background-image: -webkit-radial-gradient( hsl(235, 39%, 52%) 0%, hsl(235, 39%, 52%) 15%, hsl(235, 39%, 52%) 28%, hsl(0, 0%, 100%) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

.input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.input,
.input:active {
  background-position: 0 24px;
}

.input:checked {
  background-position: 0 0;
}

.input:checked ~ .input,
.input:checked ~ .input:active {
  background-position: 0 -24px;
}


/*    SLIDERS DESIGN    */
input[type="range"] {
	font-size: 1.5rem;
	width: 12.5em;
}

input[type="range"] {
	color: #787ECF;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: #dfdfea;
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
	color: #2b2d42;

	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 1px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor, currentColor) no-repeat scroll left center;
    box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(82%);
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}


.slider-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: var(--lily);
    padding: 25px 60px;
    border-radius: 25px;
    border: none;
    font-family: KoHo, sans-serif;
    color: var(--font-color);
    font-size: 1.8vw;
    cursor: pointer;
    margin-top: 4vh;
}

.btn:hover {
    background-color: #5258A9;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
    .radio-buttons input#middle[type="radio"] {
        height: 23px;
        width: 39px;
    }
    .radio-buttons input#bottom[type="radio"] {
        height: 23px;
        width: 29px;
    }
}

@media only screen and (max-width: 790px) {
    .radio-buttons input#middle[type="radio"] {
        height: 22px;
        width: 28px;
    }
    .radio-buttons input#bottom[type="radio"] {
        height: 23px;
        width: 23px;
    }
}

@media only screen and (max-width: 700px) {
    .radio-buttons input#middle[type="radio"] {
        height: 23px;
        width: 42px;
    }
    .radio-buttons input#bottom[type="radio"] {
        height: 24px;
        width: 31px;
    }
}


@media only screen and (max-width: 600px) {
    .btn {
        padding: 20px 50px;
        font-size: 20px;
        margin-top: 80px;
    }
    .toggle {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zarovnanie na stred vodorovne */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; /* Zarovnanie textu na stred */
    }
    .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
        width: 80%;
        margin-left: -10px;
    }

    .info-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 300px;
}
    .info-text {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .radio-buttons input {
        height: 15px;
        width: 15px;
    }
    .radio-buttons input#middle[type="radio"] {
        height: 15px;
        width: 26px;
    }
    .radio-buttons input#bottom[type="radio"] {
        height: 15px;
        width: 18px;
    }
    .radio-buttons label {
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: 75px;
        width: 70%;
    }

    .notice {
        margin: 90px 0 30px 0;
        font-size: 18px;
    }
}

@media only screen and(max-width: 500px) {
    .radio-buttons input#middle[type="radio"] {
        height: 15px;
        width: 23px;
    }
}

@media only screen and (max-width: 400px) {
    .radio-buttons input#middle[type="radio"] {
        height: 15px;
        width: 20px;
    }
}

@media only screen and (max-width: 399px) {
    .radio-buttons input#middle[type="radio"] {
        height: 15px;
        width: 28px;
    }
     .radio-buttons input#bottom[type="radio"] {
        height: 15px;
        width: 20px;
    }
}

@media only screen and (max-width: 370px) {
    .radio-buttons input#middle[type="radio"] {
        height: 15px;
        width: 32px;
    }
     .radio-buttons input#bottom[type="radio"] {
        height: 15px;
        width: 23px;
    }
}

.cxontact-page-content {
    display: flex;
    flex-direction: column;
}

.contact-page-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.contact-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 20px;
}

.contact-form-title h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-form-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--lily);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 22px;
    font-family: KoHo, sans-serif;
}

.contact-form textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 13px;
}

.contact-input:focus,
.contact-input:hover {
    border: 2px solid var(--lily);
    box-shadow: 0 0 0 7px rgba(82, 88, 169, 0.2);
}
.contact-input::placeholder {
    color: darkgray;
    font-family: KoHo, sans-serif;
    font-size: 18px;
}

.form-link {
    color: var(--info-gray);
    font-size: 17px;
    align-self: flex-end;
}

.contact-container button {
    display: inline-block;
    align-items: center;
    padding: 15px 20px;
    font-size: 20px;
    color: var(--font-color);
    background-color: var(--lily);
    gap: 20px;
    border: none;
    border-radius: 16px;
    font-family: KoHo, sans-serif;
    width: 40%;
    text-align: center;
    cursor: pointer;
}

.contact-container .form-info {
    font-size: 18px;
    color: var(--info-gray);
    margin-left: 3px;
    width: 400px;
}

@media only screen and (max-width: 1200px) {
    .form-art {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .contact-page-title {
      margin-top: 3vw;
      margin-bottom: 40px;
      font-size: 24px;
    }
    .contact-container {
        flex-direction: column;
    }

    .contact-form-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-page-title h1 {
        font-size: 35px;
    }
    .contact-form-title h2 {
        font-size: 27px;
    }
    .contact-input {
        width: 360px;
    }
    .contact-container .form-info {
        width: 360px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-page-title {
        margin-bottom: 10px;
    }
    .contact-page-title h1 {
        font-size: 32px;
    }
    .contact-form-title h2 {
        font-size: 25px;
    }
    .contact-form-title hr {
        margin-bottom: 5px;
    }
    .contact-input {
        width: 270px;
    }
    .contact-container {
        margin-top: 20px;
    }
    .contact-container .form-info {
        width: 290px;
        font-size: 15px;
    }
    .contact-container a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {

    .radio-buttons label {
        margin-left: 23px;
        width: 90%;
    }
}

.pred-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    width: 100%;
}

.prediction {
    font-size: 50px;
    font-family: KoHo, sans-serif;
    color: var(--font-color);
    width: 70%;
}

.prediction-information {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    width: 100%;
}

.prediction-information p {
    width: 50%;
    font-size: 15px;
    color: #ea7a7a;
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.home-button a {
    padding: 15px 45px;
    background-color: var(--lily);
    font-family: KoHo, sans-serif;
    font-size: 30px;
    text-decoration: none;
    border-radius: 16px;
    margin: 3vw;
    color: var(--font-color);
}
.

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 800px) {
    .pred-container {
        margin-top: 3vh;
    }
    .prediction {
        font-size: 40px;
        width: 90%;
    }
    .prediction-information {
        margin-top: 3vh;
    }
    .prediction-information p {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .pred-container {
        margin-top: 2vh;
    }
    .prediction {
        font-size: 30px;
        width: 90%;
        margin-bottom: 10px;
    }
    .prediction-information {
        margin-top: 2vh;
    }
    .prediction-information p {
        width: 80%;
    }
    .home-button a {
        padding: 13px 30px;
        font-size: 22px;
    }
}

.overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color); /* polotransparentné pozadie */
    z-index: 999; /* základný index pre vrstvu overlay menu */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: width 0.5s ease-in;
}

.overlay-menu a {
    margin-top: 50px;
    align-self: center;
}


.close-button {
    position: absolute;
    top: 3vh;
    right: 5vw;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
    z-index: 1000; /* zvyšujeme index, aby sa krížik zobrazil nad overlay menu */
}

.logo-overlay {
    position: absolute;
    top: 3vh;
    left: 3vh;
    width: 140px;
}

.info {
    display: inline-flex;
    align-items: center;
    font-size: 10px;
}


