<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VHWJDNV5Z9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VHWJDNV5Z9');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#080A10"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Progressive application for predicting the risk of heart failure and heart disease.">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
        </style>
        <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="manifest" href="/manifest.json">
        <title>Contact Me</title>
        <link rel="stylesheet" href="/static/css/style.css">
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
    </script>
    </head>
    <body>
         <div class="top-molding">
             <a href="/">
                <img src="/static/images/logo.svg" alt="app-logo" class="logo">
            </a>
             <div class="nav">
                <div class="rectangle">
                <a href="/">
                    <img src="/static/images/home-inactive.svg" alt="tlacidlo-domov">
                </a>
                </div>

                <div class="rectangle">
                   <a href="contact.html">
                       <img src="/static/images/contact-active.svg" alt="tlacidlo-kontakt">
                   </a>
                </div>
                <button class="hamburger-menu" id="hamburger-menu-button">
                    <img src="/static/images/hamburger-menu-icon.svg" alt="hamburger-menu-button">
                </button>
            </div>
         </div>
          <div id="overlay-menu" class="overlay-menu">
            <img src="/static/images/logo.svg" alt="app-logo" class="logo-overlay">
            <button id="close-overlay-menu" class="close-button">&times;</button>
            <a href="/"><img src="/static/images/home-inactive.svg" alt="tlacidlo-domov"></a>
            <a href="contact.html"><img src="/static/images/contact-active.svg" alt="tlacidlo-kontakt"></a>
            <a href="https://shorturl.at/kCW78" class="form-link" target="_blank"><img src="/static/images/feedback-inactive.svg" alt="Zanechajte spätnú väzbu"></a>
        </div>
         <div class="contact-page-content">
             <div class="contact-page-title">
             <h1>Máte otázky?</h1>
            </div>

                <div class="contact-container">
                    <form action="https://api.web3forms.com/submit" method="POST" class="contact-form" onsubmit="return validateForm()">
                        <div class="contact-form-title">
                            <h2>Kontaktujte nás</h2>
                            <hr>
                        </div>
                        <input type="hidden" name="access_key" value="49d158f8-3fb2-4c08-b637-d55846b63930" autocomplete="off">
                        <input type="text" name="name" id="name" placeholder="Vaše meno" class="contact-input" autocomplete="off">
                        <input type="email" name="email" id="email" placeholder="Váš email" class="contact-input" autocomplete="off">
                        <textarea name="message" id="message" placeholder="Vaša správa" class="contact-input"></textarea>
                        <a href="https://shorturl.at/kCW78" class="form-link" target="_blank">Zanechať spätnú väzbu</a>
                        <button type="submit">Odoslať</button>
                        <p class="form-info">&#9432; Email zadajte správne, v opačnom prípade vás nebudeme mocť kontaktovať.</p>
                    </form>
                    <div class="form-art">
                       <img src="/static/images/art.svg" alt="">
                    </div>
                </div>

         </div>
    <div style="height: 60px; color: transparent;"></div>
    <script src="/static/js/main.js"></script>
    </body>
</html>