<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#080A10"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Progressive application for predicting the risk of heart failure and heart disease.">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
        </style>
        <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="manifest" href="/manifest.json">
        <title>HeartCare</title>
        <link rel="stylesheet" href="/static/css/style.css">
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
    </script>
</head>
    <body>
        <div class="top-molding">
            <a href="/">
                <img src="/static/images/logo.svg" alt="app-logo" class="logo">
            </a>
            <div class="nav">
                <div class="rectangle">
                    <a href="/">
                        <img src="/static/images/home-active.svg" alt="tlacidlo-domov">
                    </a>
                </div>

                <div class="rectangle">
                    <a href="contact.html">
                        <img src="/static/images/contact-inactive.svg" alt="tlacidlo-kontakt">
                    </a>
                </div>
                <button class="hamburger-menu" id="hamburger-menu-button">
                    <img src="/static/images/hamburger-menu-icon.svg" alt="hamburger-menu-button">
                </button>
            </div>
        </div>
        <div id="overlay-menu" class="overlay-menu">
            <img src="/static/images/logo.svg" alt="app-logo" class="logo-overlay">
            <button id="close-overlay-menu" class="close-button">&times;</button>
            <a href="/"><img src="/static/images/home-active.svg" alt="tlacidlo-domov"></a>
            <a href="contact.html"><img src="/static/images/contact-inactive.svg" alt="tlacidlo-kontakt"></a>
            <a href="https://shorturl.at/kCW78" class="form-link" target="_blank"><img src="/static/images/feedback-inactive.svg" alt="Zanechajte spätnú väzbu"></a>
        </div>
        <div class="content">
            <div class="welcome">
                <h1 class="page-title">Nechajte si predpovedať riziko srdcového zlyhania a kardiovaskulárnych ochorení.</h1>
                <p class="information">Aplikácia HeartCare ponúka jednoduchý spôsob ako zistiť riziko kardiovaskulárneho ochorenia
                                        alebo srdcového zlyhania. HeartCare využíva pokročilý model strojového učenia na analýzu veľkého množstva
                                        klinických údajov a následnú predikciu. Stačí vyplniť krátky dotazník a výsledok sa zobrazí o pár sekúnd.</p>
                <button type="button" onclick="scrollToForm()" class="find-out-button">Zistiť</button>
            </div>
        </div>
            <div class="row" id="row">
                <div class="empty-div" id="empty-div" style="margin-top: 20px"></div>
                <p class="notice" id="notice">Tento dotazník slúži len na informatívne účely a v žiadnom prípade nenahrádza diagnostiku lekárom.
                    Ak máte akékoľvek obavy o svoje zdravie, obráťte sa na svojho lekára.
                    Prosíme, postupuje podľa pokynov a pre úspešné vyhodnotenie dotazníka vyplňte všetky polia.
                    Vaše odpovede sú anonymné a nebudú použité na budúci výskum ani zdieľané s tretími stranami.</p>
                <div class="form-parent">


                <form action="/predict" method="POST">
                    <div class="container">
                        <span>Môj vek:</span>
                        <div class="text-field">
                            <input type="text" class="textInput" id="ageInput" name="age" placeholder="Zadajte váš vek" autocomplete="off" required pattern="[0-9]+" min="1">
                            <label for="ageInput"></label>
                        </div>
                    </div>
                    <div class="container">
                        <span>Mávam problémy s chôdzou.</span>
                        <div class="toggle">
                            <input type="checkbox" class="checkbox" id="DiffWalk" name="DiffWalk">
                            <label class="switch" for="DiffWalk">
                            <span class="slider"></span>
                            </label>
                            <div class="info-container">
                                <p class="info-text">&#9432; Predovšetkým v spojení s bolesťou na hrudníku, dýchavičnosťou, neprimeranou únavou počas chôdze.</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>Mám diagnostikovaný vysoký tlak.</span>
                        <div class="toggle">
                            <input type="checkbox" class="checkbox" id="HighBP" name="HighBP">
                            <label class="switch" for="HighBP">
                            <span class="slider"></span>
                            </label>
                            <div class="info-container">
                                <p class="info-text">&#9432; Krvný tlak nad 140/90 mmHG, diagnostikovnaý lekárom.</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>Mám diagnostikovaný vysoký cholesterol.</span>
                        <div class="toggle">
                            <input type="checkbox" class="checkbox" id="HighChol" name="HighChol">
                            <label class="switch" for="HighChol">
                            <span class="slider"></span>
                            </label>
                            <div class="info-container">
                                <p class="info-text">&#9432; Hladina cholesterolu nad 200 mg/dl, diagnostikovaná lekárom.</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>Som fajčiar.</span>
                        <div class="toggle">
                            <input type="checkbox" class="checkbox" id="checkbox" name="smoker">
                            <label class="switch" for="checkbox">
                            <span class="slider"></span>
                            </label>
                            <div class="info-container">
                                <p class="info-text">&#9432; Pravidelné požívanie tabakových výrobkov.</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>V minulosti som prekonal mozgovú mŕtvicu.</span>
                        <div class="toggle">
                            <input type="checkbox" class="checkbox" id="stroke" name="stroke">
                            <label class="switch" for="stroke">
                            <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                   <div class="container">
                        <span class="text">Mám diagnostikovaný určitý typ diabetu.</span>
                        <div class="radio-buttons">
                            <label>
                                <input id="top" checked="" class="input" type="radio" name="diabetes" value="0">
                                Nemám diagnostikovaný diabetes.
                            </label>
                            <label>
                                <input id="middle" type="radio" class="input" name="diabetes" value="1">
                                Mám diabetes prvého stupňa alebo sa objavil len počas tehotenstva.
                            </label>
                            <label>
                                <input id="bottom" type="radio" class="input" name="diabetes" value="2">
                                Mám diagnostikovaný diabetes druhého stupňa.
                            </label>
                        </div>
                    </div>

                    <div class="container">
                        <span>Ako hodnotím svoje všeobecné zdravie?</span>
                        <div class="slider-container">
                            <span class="slider-value" id="sliderValue">priemerné</span>
                            <input type="range" class="slider" id="genHlthRange" name="GenHlth" min="1" max="5" value="3">
                            <label class="slider-label" for="genHlthRange">
                            <span class="slider-button"></span>
                            </label>
                            <div class="info-container">
                                <p class="info-text">&#9432; Zahŕňa celkový stav tela a mysle, teda fyzické, duševné a emocionálne aspekty zdravia.</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <span>Počas koľkých dní som sa v priebehu posledných 30 dní cítil fyzicky zle?</span>
                        <div class="slider-container">
                            <span class="slider-value" id="sliderValuePhysHlth">0</span>
                            <input type="range" class="slider" id="physHlthRange" name="PhysHlth" min="0" max="30" value="0">
                            <label class="slider" for="physHlthRange">
                            <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn">Predikuj riziko</button>
                    </div>


                </form>
                    </div>
        </div>
        <div style="height: 60px; color: transparent;"></div>
        <script src="/static/js/main.js"></script>
    </body>
</html>